<div class="container">
  <div class="row mt-2">
    <div class="col-md-6 offset-md-3">
      <input type="text" [(ngModel)]="inputData">
      <button type="submit" class="btn btn-primary ml-2" (click)="onAdd()">Add</button>
      <select class="ml-2" (click)="optionChanged($event)">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          <option value="notcompleted">Not completed</option>
        </select>
    </div>
  </div>
  <div class="row mt-2" *ngFor="let item of displayTodo; let i = index">
    <div class="col-md-2  mr-2 ">
      {{ item.title }}
    </div>
    <div class="col-md-10 mr-2 ">
        <button type="button" (click)="onModify(i)" class="mr-2">Modify</button>
        <button type="button" (click)="onDelete(i)" class="mr-2">Delete</button>
        <button type="button" (click)="onStatusChange(i)" class="mr-2" *ngIf="item.status == 'uncompleted'" >Mark Completed</button>
      </div>
  </div>
</div>
